<div class="container">
  <div class="list-header">
    <h1>Your Lists</h1>
  </div>
  <div class="add-list-button">
    <button type="button" class="btn btn-primary secondary-button new-list-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New List</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for @list do |f| %>
                <%= f.input :name %>
                <%= f.button :submit, class: "secondary-button" %>
              <% end %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    <div class="list">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
        <div class="list-box">
          <ul>
            <div class="list-desc">
              <li>
                <h2><%= list.name %></h2>
              </li>
            </div>
          </ul>
        </div>
        <% end %>
        <% end %>
        <%= link_to "Back to selections", restaurants_path, class: "link-text" %>
    </div>
</div>
