<div class="footer">
  <div class="footer-links">
  <%= link_to "#" do %>
    <%= image_tag "home_icon.png" %>
  <% end %>
  <%= link_to "#" do %>
    <%= image_tag "past_icon.png" %>
  <% end %>
  <%= link_to "#" do %>
    <%= image_tag "favorite_icon.png" %>
  <% end %>
  </div>
</div>
