<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <%= image_tag "home_icon.svg",:class => "footer_icon" %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag "past_icon.png",:class => "footer_icon" %>
    <% end %>
    <%= link_to "#" do %>
      <%= image_tag "favorite_icon.svg",:class => "footer_icon" %>
    <% end %>
  </div>
</div>
