<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <%= image_tag "home_icon.svg",:class => "footer_icon" %>
    <% end %>
    <%= link_to bookings_path do %>
      <%= image_tag "icon_history.svg",:class => "footer_icon" %>
    <% end %>
    <%= link_to lists_path do %>
      <%= image_tag "favorite_icon.svg",:class => "footer_icon" %>
    <% end %>
  </div>
</div>
