<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <% if user_signed_in? %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "mamyuk.png" %>
    <% end %>
  <% else %>
   <%= link_to "#", class: "navbar-location" do %>
      <%= image_tag "vector2.png" %>
    <% end %>
  <% end %>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <%= image_tag "vector.png" %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#">Setting</a></li>
    <li><a class="dropdown-item" href="#">Log-In</a></li>
  </ul>
</div>
  </div>
</div>
