<div class="container">
  <div class="card-trip">
      <%= image_tag"card_image.png" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= restaurant.name %></h2>
        <p> <%= restaurant.cuisine %></p>
        <p><%= image_tag"star_icon.png" %> <%= 4.5 %></p>
      </div>
      <div class="d-flex">
        <div class="like">
          <%= image_tag"heart_icon.png" %>
        </div>
        <div class="info">
        <%= link_to restaurant_path(restaurant) do %>
          <%= image_tag"Information_icon.png" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
