<%# Rectangle Buttons %>
<div class="button-base menu-button">
  <%= link_to "menu button", "#" %>
</div>

<div class="button-base primary-button">
  <%= link_to "primary button", "#" %>
</div>

<div class="button-base secondary-button">
  <%= link_to "secondary button", "#" %>
</div>

<%# Round Buttons %>
<div class="col-sm-12 reject-button">
  <%= link_to "#" do %>
    <i class="fa-solid fa-x"></i>
  <% end %>
</div>

<div class="col-sm-12 accept-button">
  <%= link_to "#" do  %>
    <i class="fa-solid fa-check"></i>
  <% end %>
</div>

<%# Text Box %>

<div class="list-box">
  <%= link_to "list", "#" %>
</div>
