
<div class="container">
    <%= turbo_frame_tag "search_tag" do %>
  <div class="logo_text">
    <%= image_tag "text_mamyuk_logo.png", :class => "w-100"%>
  </div>
    <div >
      <%= link_to "Let's start", food_choice_path, class:"button-base primary-button mx-auto mt-5"%>
    </div>
  <% end %>
</div>


<!--
<%= form_with url: '/search', method: :get do |f| %>
  <%= f.text_field :cuisine, placeholder: "cuisine" %>
  <%= f.number_field :price, placeholder: "price"%>
  <%= f.number_field :distance, placeholder: "distance" %>
  <%= f.submit "submit" %>
<% end %>
-->
