<div class="container">
  <div class="row">
    <h1><%= @restaurant.name %></h1>
    <ul>
      <p>Cuisine: <%= @restaurant.cuisine %></p>
      <p>Price: <%= @restaurant.price %></p>
      <p>Location: <%= @restaurant.location %></p>
      <p> Rating: <%= @restaurant.rating %></p>
    </ul>


    <div class="col-sm-12 reject-button">
      <%= link_to "#" do  %>
        <i class="fa-solid fa-x"></i>
      <% end %>
    </div>

    <div class="col-sm-12 accept-button">
      <%= link_to "#" do  %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    </div>

  </div>
</div>
