<div class="show-page">
  <div class="class1">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @restaurant.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= cl_image_tag photo.key, height: 400, crop: :fill, class: "card-image" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <%= link_to restaurants_path, class:"btn btn-arrow" do %>
      <%= image_tag"down_button.png" %>
    <% end %>
  </div>
  <div class="class2">
    <div class="container">
      <h1><%= @restaurant.name %></h1>
        <p>Rating: <%= image_tag "star_icon.png" %> <%= @restaurant.rating %></p>
        <% if @restaurant.price  %>
          <p>Price: <%= "$" * @restaurant.price %></p>
        <% else %>
          <p> Price: N/A </p>
        <% end %>
        <p>Phone: <%= @restaurant.phone_number %></p>
        <p>Favorite Menus:</p>
      <div class="favorite-menu">
        <div>
          <blockquote class="menu-block">
            <p>Pizza Marinara</p>
          </blockquote>
        </div>
        <div>
          <blockquote class="menu-block">
            <p>Pizza Tutti Fruity</p>
          </blockquote>
        </div>
        <div>
          <blockquote class="menu-block">
            <p>Bolognese</p>
          </blockquote>
        </div>
        <div>
          <blockquote class="menu-block">
            <p>Spaghetti Carbonara</p>
          </blockquote>
        </div>
      </div>
      <div class="button-base menu-button">
        <%= link_to "Check Full Menu", "#" %>
      </div>
      <div class="location">
          <p>Location: <%= @restaurant.location %></p>
      </div>
      <div>
        <%# <%= image_tag"map.png", class:"map-image" %>
          <div class="map-image" style="width: 100%; height: 170px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>

        <div class="review" >
          <p>Reviews:</p>
          <% @restaurant.reviews.each do |review| %>
            <p><%= review.text %></p>
            <p><%= review.author_name %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
