<h1><%= @restaurant.name %></h1>

<ul>
  <p>Cuisine: <%= @restaurant.cuisine %></p>
  <p>Price: <%= @restaurant.price %></p>
  <p>Location: <%= @restaurant.location %></p>
  <p> Rating: <%= @restaurant.rating %></p>
</ul>

<%= link_to "primary button", restaurants_path, class: "btn primary-button col-sm-12" %>

<%= link_to "secondary button", restaurants_path, class: "btn secondary-button col-sm-12" %>

<i class="fa-solid fa-check accept-button col-sm-12"></i>
