<div class="show-page">
  <div class="class1">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @restaurant.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= cl_image_tag photo.key, height: 400, crop: :fill, class: "card-image" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <%= link_to restaurants_path, class:"btn btn-arrow" do %>
      <%= image_tag"down_button.png" %>
    <% end %>
  </div>
  <div class="class2">
    <div class="container">
      <h1><b><%= @restaurant.name %></b></h1>
        <p><b>Rating: </b><%= image_tag "star_icon.png" %> <%= @restaurant.rating %></p>
        <% if @restaurant.price  %>
          <p><b>Price: </b> <%= "$" * @restaurant.price %></p>
        <% else %>
          <p> <b>Price: </b>  N/A </p>
        <% end %>
        <% if @restaurant.phone_number %>
          <p><b>Phone: </b> <%= link_to "#{@restaurant.phone_number}", "tel:#{@restaurant.phone_number}", class:"link_address" %> <%= image_tag "icon_link.svg",  height: 14 %>
        <% else %>
          <p><b>Phone: </b>N/A</p>
        <% end %>
      <div class="location">
          <p><b>Location: </b><%= link_to @restaurant.location, "http://maps.google.com?q=#{@restaurant.latitude},#{@restaurant.longitude}", target: :_blank, class:"link_address" %> <%= image_tag "icon_link.svg",  height: 14 %></p>
      </div>
    <div>
      <div class="map-image" style="width: 100%; height: 170px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <br>
      <p><b>Reviews:</b></p>
      <div class="review-scroller" >
        <% @restaurant.reviews.each do |review| %>
          <div class="review-element">
            <blockquote class="blockquote">
              <p><%= review.text %></p>
              <p><%= review.author_name %> </p>
            </blockquote>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
